$widhtSite: 1140px;
$gapGrid: 30px;
$thirdSite: ($widhtSite - 2 * $gapGrid) / 3;

$colorBody: #fff;
$colorSelectSite: #f16d7f;
$colorHeader: #222;
$colorHeroFirst: rgba(113, 103, 105, 0.08);
$colorHeroSecond: #f1e4e6;
$colorText: #222;
$colorTextInverse: #fff;
$colorTextLite: #9f9f9f;
$colorBGContent: #f8f8f8;
$colorBGImage: #f7e4e2;
$colorHeadProduct: #000;
$colorTextProduct: #5d5d5d;
$colorTextBtnProduct: #f26376;
$colorBorderBtnProduct: #ff6a6a;
$colorTextFeature: #fbfbfb;
$colorBGFeature: #222224;
$colorTextFooter: #fbfbfb;
$colorBGFooter: #222224;
$colorTextGroup: #222224;
$colorSubButton: #e05c6e;
$colorBGHeroProduct: #f7f7f7;
$colorBGBreadcrumbs: #f8f3f4;
$colorTextbreadcrumbs: #f16d7f;
$colorLinkbreadcrumbs: #636363;
$colorSubtitleDesc: #4d4d4d;
