* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  min-height: 75px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: #222;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}

.hero {
  display: flex;
  align-items: center;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
  background: linear-gradient(to right, rgba(113, 103, 105, 0.08) 50%, #f1e4e6 50%);
  margin-bottom: 65px;
}
.hero__photo {
  width: 50%;
}
.hero__content {
  padding-left: 60px;
}
.hero__info {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
}
.hero__title {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.hero__heading {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.offer {
  display: grid;
  gap: 30px;
  margin-bottom: 96px;
}
.offer__items_top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.offer__item {
  position: relative;
}
.offer__item_big {
  position: relative;
}
.offer__content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.offer__text {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.offer__heading {
  color: #f16d7f;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

.product-box {
  margin-bottom: 95px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-box__heading {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 6px;
}
.product-box__text {
  color: #9f9f9f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 48px;
}
.product-box__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: left;
  padding-bottom: 48px;
}
.product-box__button {
  color: #f26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #ff6a6a;
  padding: 15px 39px;
}

.product {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7e4e2;
}
.product__img-box {
  display: flex;
  height: 420px;
  align-items: center;
  justify-content: center;
}
.product__content {
  background-color: #f8f8f8;
  padding: 24px 16px 20px;
  display: flex;
  flex-direction: column;
}
.product__heading {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 12px;
}
.product__text {
  color: #5d5d5d;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-bottom: 18px;
}
.product__price {
  color: #f16d7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.feature {
  background-color: #222224;
  min-height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature__list {
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}
.feature__item {
  width: 360px;
  text-align: center;
}
.feature__icon {
  height: 35px;
  padding-bottom: 25px;
}
.feature__title {
  color: #fbfbfb;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 16px;
}
.feature__text {
  color: #fbfbfb;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 360px;
}

.footer {
  background-color: #222224;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer__copyright {
  color: #fbfbfb;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__social-list {
  display: flex;
  gap: 7px;
  padding-top: 24px;
  padding-bottom: 24px;
}
.footer__social-item {
  width: 32px;
  height: 32px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .header {
    min-height: 74px;
  }
  .header__left {
    padding-left: 16px;
  }
  .header__right {
    padding-right: 16px;
  }
  .hero {
    margin-bottom: 20px;
  }
  .hero__photo {
    width: 50%;
  }
  .hero__content {
    padding-left: 40px;
  }
  .hero__title {
    font-size: 44px;
  }
  .hero__heading {
    font-size: 24px;
  }
  .offer {
    gap: 19px;
    margin-bottom: 154px;
  }
  .offer__items_top {
    gap: 19px;
  }
  .product-box {
    margin-bottom: 64px;
  }
  .product-box__content {
    gap: 16px;
    padding-bottom: 32px;
  }
  .feature__list {
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 48px;
    padding-bottom: 64px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .center {
    padding-left: calc(50% - 172px);
    padding-right: calc(50% - 172px);
  }
  .header {
    min-height: 74px;
  }
  .user {
    display: none;
  }
  .cart {
    display: none;
  }
  .hero {
    justify-content: center;
    background: #f1e4e6;
    margin-bottom: 64px;
  }
  .hero__photo {
    display: none;
  }
  .hero__content {
    padding-left: 0;
  }
  .hero__info {
    margin-top: 148px;
    margin-bottom: 148px;
  }
  .hero__title {
    font-size: 38px;
  }
  .hero__heading {
    font-size: 20px;
  }
  .offer {
    gap: 32px;
    margin-bottom: 64px;
  }
  .offer__items_top {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .offer__item_big {
    height: 111px;
  }
  .product-box {
    margin-bottom: 96px;
  }
  .product-box__content {
    gap: 16px;
    padding-bottom: 40px;
  }
  .feature__list {
    flex-direction: column;
    align-items: center;
    gap: 46px;
    padding-top: 48px;
    padding-bottom: 81px;
  }
  .footer {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
  }
  .footer__copyright {
    padding-bottom: 9px;
  }
  .footer__social-list {
    padding-top: 43px;
    padding-bottom: 40px;
  }
}/*# sourceMappingURL=style.css.map */